.clearfix {
	.clearfix();
	
}
.center-block {
	.center-block();
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	.text-hyde();
}
.hidden {
	display: none !important;
}

//for affix plugin
//-----------------------

.affix {
	position: fixed;
}
